/* Reset de estilos para el body y el margen del navegador */
body,
nav,
ul,
li,
p,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos del nav principal */
.main-nav {
  background-color: #333;
  color: #fff;
  display: block;
}

.nav-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bot {
  padding: 10px;
  border-top: 2px solid #f1f1f1;
  display: flex;
  justify-content: center;
}

.logo-nav {
  display: flex;
  align-items: center;
}

#nova-png {
  max-width: 100px;
  margin-right: 30px;
}

p {
  font-size: 18px;
}

.carro {
  display: flex;
  align-items: center;
}

.login-button button {
  background-color: transparent;
  border: 1px solid #fff;
  margin-right:20px;
  color: #fff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.login-button button:hover {
  background-color: #fff;
  color: #333;
}

/* Estilos del botón de menú responsive */
.responsive-button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

/* Estilos de la lista de navegación */
.nav-list {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 20px;
  position: relative;
}

.nav-item a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  transition: color 0.3s;
}

.nav-item a:hover {
  color: #007bff;
}

/* Estilos del dropdown */
.lista-nav {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropdown:hover .lista-nav {
  display: block;
}

.lista-nav a {
  color: #333;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.lista-nav a:hover {
  background-color: #f1f1f1;
}

/* Estilos de la barra lateral */
.sidebar {
  display: none;
  flex-direction: column;
}

.sidebar-container {
  list-style: none;
  margin: 20px 0;
}

.sidebar-container li {
  margin-bottom: 10px;
}


/* Agrega estos estilos al final de tu archivo Navbar.css */

@keyframes slideInFromLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }

}


.custom-modal {
  position: fixed;
  right: 0;
  top: 0;
  color: #f1f1f1;
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-width: 80%;
  height: 90%;
  overflow-y: auto;
  animation: slideInFromLeft 0.5s ease-out;
}




.custom-modal a {
  color: #f1f1f1;
  text-decoration: none;
  padding: 10px;
  display: flex;

}

.custom-modal a:hover {
  color: #f1f1f1;
  text-decoration: none;

}

.custom-modal h2 {
  margin-bottom: 20px;
}

.custom-modal button {
  background-color: #d4c8c8;
  color: #333;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.custom-modal button:hover {
  background-color: #555;
}


/*conf boton para abrir el modal, aparece solo en pantallas menores a 767px*/



.open-modal-button {
  display: none;
  padding: 10px;
  margin-left: auto;
  margin-right:20px;
  margin-bottom: 3px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 1rem 1rem;
  cursor: pointer;

}



/* Estilos responsivos */
@media only screen and (max-width: 767px) {
  .nav-list {
    flex-direction: column;
  }

  .nav-item {
    margin-right: 0;
    margin-bottom: 10px;
  }

  #nova-png {
    margin-right: 0;
  }

  .responsive-button {
    margin-left: auto;
  }

  .sidebar {
    display: flex;
  }

  .nav-list.open {
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  }

  .nav-item {
    margin-bottom: 10px;
  }

  .open-modal-button {
    display: block;
    margin-left: auto;

  }
}

.nav-bot {
  padding: 0;
  /* Reduce el padding en pantallas pequeñas */
  background-color: transparent;
  /* Hace el fondo transparente */
  border-top: none;
  /* Elimina el borde superior en pantallas pequeñas */
}